body > header {
  background-color: $dark;
  transition: $transition-base;

  .nav-link {
    color: #fff;
  }

  &:has(.navbar-collapse.show) {
    background-color: $dark;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba($color: $dark, $alpha: 0.3);
}

.scroll-up {
  background-color: $dark;
  transform: translateY(0);
}
.scroll-down {
  transform: translateY(-100%);
}

@include media-breakpoint-down(sm) {
  .header-title {
    display: none;
  }
}
