.icon {
  transition: $transition-base;
}

#facebook-icon:hover {
  color: #4267b2;
}
#twitter-icon:hover {
  color: #00acee;
}
#instagram-icon:hover {
  color: #d62976;
}
#youtube-icon:hover {
  color: #c4302b;
}
#linkedin-icon:hover {
  color: #0077b5;
}
