@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "swiper/scss";
@import "swiper/scss/navigation";

$primary: #fdd204;
$font-family-sans-serif: "Roboto", "Noto Sans", system-ui, -apple-system,
  sans-serif;

:root {
  --bs-primary-rgb: 253, 210, 4;
}
.nav-link {
  --bs-nav-link-hover-color: rgba(var(--bs-primary-rgb), 1);
}

@import "bootstrap/scss/bootstrap";
@import "./icons";
@import "./header";
@import "./animations";
@import "./parallax";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > main {
    flex-grow: 1;
  }
}

.link-hover-primary:hover {
  color: $primary !important;
}

@include media-breakpoint-down(lg) {
  #navbarSupportedContent {
    order: 9;
    transition: all 0.3s;

    .nav-item {
      text-align: center;
    }
  }
}
@include media-breakpoint-up(md) {
  #departments {
    .input-group {
      margin-left: auto;
    }
  }

  .course-main section:nth-child(2n) {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  #courses-list {
    .card:nth-child(2n + 1) .card-footer {
      text-align: end;
    }
    .card:nth-child(2n) .card-img-wrapper {
      order: 2;
    }

    .card:nth-child(2n + 1) .img-fluid {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    .card:nth-child(2n) .img-fluid {
      order: 2;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .input-group {
    max-width: 30rem;
  }
}
@include media-breakpoint-down(md) {
  #courses-list {
    .card {
      margin-bottom: $spacer;
    }
    .card-footer {
      text-align: end;
    }
    .img-fluid {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}

.w-fit-content {
  width: fit-content;
}

.welcome-fs {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: fit-content;
    background-color: rgba($color: #000, $alpha: 0.3);
  }
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

main > section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .section-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
  }

  &:nth-child(2n) {
    background-color: $gray-200;
  }
}

.swiper-slide {
  height: auto !important;

  .card {
    height: 100%;

    .card-body {
      display: flex;
      flex-direction: column;

      .card-text {
        flex-grow: 1;
      }
    }
  }
}

.card-img {
  border-radius: 0;
}
.card-img,
.card-img-top {
  object-fit: cover;
}

.row .card {
  .card-img-top {
    height: 100%;
  }

  height: 100%;
}

.ratio-3x2 {
  --bs-aspect-ratio: 66.66667%;
}
.ratio-2x1 {
  --bs-aspect-ratio: 50%;
}

.object-fit-cover {
  object-fit: cover;
}

.avatar {
  height: $font-size-base * $line-height-base * 2;
}

.btn-load-more {
  --bs-bg-opacity: 0.35;

  display: flex;
  justify-content: center;
  align-items: center;
}

#departments .card {
  overflow: hidden;

  .card-img-top {
    height: 100%;
    transition: 0.2s;
  }
  &:hover {
    .card-img-top {
      transform: scale(1.2);
    }
  }
}

#courses-list {
  .card-header {
    padding-bottom: 0;
  }
}

[data-aspect-ratio="1x1"] {
  aspect-ratio: 1/1;
}

.navbar-toggler {
  --bs-navbar-color: rgba(255, 255, 255, 1);
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}

@include media-breakpoint-up(lg) {
  body > footer .bg-primary .row {
    justify-content: space-between;
  }
  body > footer .bg-dark .row {
    justify-content: space-between;
  }
}
@include media-breakpoint-down(lg) {
  body > footer .bg-primary .row {
    text-align: center;

    .hstack {
      justify-content: center;
    }
  }
  body > footer .bg-dark .row {
    text-align: center;
  }
}

#contactEnquiry {
  max-height: 20 * $font-size-base * $line-height-base;
}

#art-course-welcome-fs {
  background-image: url("/imgs/art-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
